<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="row">
                        <div class="col-xs-12" style="height:25px;"></div>
                    </div>
            <div class="text-center">
                <svg width="150" height="150">
                    <rect x="10%" y="0%" width="80%" height="100%" style="fill:black;stroke:black;stroke-width:10;fill-opacity:1;stroke-opacity:0.9" />
                    <circle cx="50%" cy="40%" r="35%" fill="white" stroke="black" stroke-width="6" />
                    <text x="50%" y="40%" text-anchor="middle" fill="black" font-weight="bold" font-size="280%"
                        font-family="Arial" dy=".4em">AD</text>
                    <text x="50%" y="90%" text-anchor="middle" fill="white" font-size="140%" font-family="Arial" dy=".4em">WARRIORS</text>

                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <h1 class="text-center">Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>